header {
    position: relative;

    form .input-group-text {
        max-width: 150px;

        &::placeholder {
            color: black;
            opacity: 1;
        }
    }

    ul.navbar-nav {
        li.nav-item {
            margin: 0 0.5rem;
            min-width: 2rem;
            &:hover {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -47px;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-color: #0d6efd;
                }

                .nav-link {
                    color: #0d6efd;
                }
            }
        }
    }
}